#set speller "aspell -c" #использовать словарь для проверки
#set nohelp       #не показывать подсказки
#set tempfile    #сохраняет без вопросов (опасно)
#set softwrap     #переносить длинные строки
#set atblanks     #заканчивает строку пробелом
#set smooth       #построчная прокрутка
#set undo        #отмена действия alt+U и alt+E (фигня)
#set linenumbers #номера строки
set mouse        #включает мышь
set positionlog  #запоминает позицию курсора

#set fill -85   #делает отступ справа ctrl+j (неудобно)
#set tabsize 10 #тоже что-то делает (непонятно)


set backup      #делает бекап (полезно)
#set backupdir "/home/zool/backup_conf/" #Не использовать ~


set titlecolor brightyellow,blue #верхняя шапочка синяя с желтым
set keycolor blue  #снизу экрана синии комбинации клавиш
set statuscolor brightblack,black #тёмный статус бар снизу
set numbercolor yellow #цвет номеов строк

#настройки автовыделения синтакиса для набора текста (для всех файлов)

syntax "vse" "$"

# для txt файлов заменить "$" на "\.txt$"
#цвет кириллицы
color cyan     "\<[А-Я,а-я,]{1,}\>"
color red     "[[:space:]]+[[:space:]]+[[:space:]]+[А-Я,]"
#цвет чисел
color yellow   "\<[0-9,]{1,}\>"
#цвет латиницы
color green    "\<[A-Z,a-z,]{1,}\>"

#сайт с параметрами nanorc
# https://www.nano-editor.org/dist/v2.9/nanorc.5.html

include "/usr/share/nano/*.nanorc"
